name: Security Scan (Snyk + Semgrep)

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  security-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      # --------------------
      # SNYK (SCA)
      # --------------------
      - name: Run Snyk on requirements.txt
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.TOKEN_SNYK }}
        with:
          command: test
          args: --file=requirements.txt --sarif-file-output=snyk.sarif
        continue-on-error: true

      - name: Upload Snyk SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif
          category: snyk-python-sca

      # --------------------
      # SEMGREP (SAST)
      # --------------------
      - name: Run Semgrep
        uses: semgrep/semgrep-action@v1
        with:
          config: |
            p/python
            p/flask
            p/security-audit
          args: >
            --sarif
            --output=semgrep.sarif
        continue-on-error: true

      - name: Upload Semgrep SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif
          category: semgrep
