name: Security Scan Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  security-events: write
  contents: read

jobs:
  semgrep:
    name: SAST - Semgrep
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep
        uses: semgrep/semgrep-action@v1
        with:
          config: |
            p/python
            p/flask
            p/security-audit
          sarif-output: semgrep.sarif
        continue-on-error: true

      - name: Upload SARIF file
        if: github.repository == github.event.repository.full_name  # ignore forks
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif
          category: semgrep
