name: Scan requirements.txt and upload SARIF

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v5

      # 2️⃣ Run Snyk scan on requirements.txt
      - name: Run Snyk on requirements.txt
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.TOKEN_SNYK }}
        with:
          command: test
          args: --file=requirements.txt --sarif-file-output=results.sarif
        continue-on-error: true

      # 3️⃣ Upload SARIF to GitHub Security
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
          category: snyk-python-sca

      # 4️⃣ Save SARIF as artifact for download
      - name: Upload SARIF as artifact
        uses: actions/upload-artifact@v3
        with:
          name: snyk-sarif
          path: results.sarif
